.edit-recipe-form {
  width: 48%;
  margin: 0;
  float: left;
}

.edit-recipe-form {
  margin-top: 20px;
}

.edit-recipe-form td {
  padding: 1px 10px;
  margin: 0 10px;
}

.edit-recipe-form input {
  width: 75px;
}

.recipe-details textarea:first-of-type {
  font-family: 'Bitter', serif;
  font-size: 20px;
  height: 25px;
  max-width: 48%;
}
