
.edit-ingredients-form {
  width: 60%;
  float: right;
}

.recipe-details {
  width: 30%;
  margin: 10px;
  float: left;
}

.recipe-details textarea:first-of-type {
  font-family: 'Bitter', serif;
  color: black;
  font-size: 35px;
  height: 40px;
}

.recipe-details textarea {
  font-size: 16px;
  color: gray;
  width: 100%
}

.recipe-details img {
  width: 100%;
}
