.recipe-form, .recipe-container {
  width: 48%;
  margin: 0;
  float: left;
}

textarea {
  border: 1px solid lightgrey;
  border-radius: 5px;
}

#preview h1 {
  text-align: center;
  color: lightgrey;
}
