/* body {
  background-color: rgb(2 18 40)
} */

.App {
  margin: 100px auto;
  max-width: 80vw;
}

.App #mainLogo {
  margin: 2px 0;
}

.nav {
  background-color: lightgray;
}

.nav a {
  margin-right: 20px;
  color: black;
}
